<!DOCTYPE html>
<html>
  <head>
    <title><%= title(yield(:title)) %></title>
    <%= render 'layouts/def_head'%>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
